<div class="menu-container">
  <!-- Add New Menu Form -->
  <div class="add-menu-form">
    <h2>Add Customer Menu ({{ customer?.name }})</h2>
    <div class="form-group">
      <select
        [(ngModel)]="newCustomerMenu.menuId"
        class="form-control"
        placeholder="Menu Item"
      >
        <option value="0" disabled selected>Select Menu</option>
        @for (menu of menus; track menu) {
        <option [value]="menu.id">
          {{ menu.name }} - {{ menu.size }} - {{ menu.price }}
        </option>
        }
      </select>
    </div>
    <div class="form-group">
      <input
        type="number"
        [(ngModel)]="newCustomerMenu.quantity"
        min="1"
        placeholder="Quantity"
        class="form-control"
      />
    </div>
    <button
      (click)="createCustomerMenu()"
      class="btn btn-primary"
      [disabled]="newCustomerMenu.menuId == 0"
    >
      Add
    </button>
    <!-- Loading Indicator -->
    <div *ngIf="loading" class="loading">
      <p>Loading Menu...</p>
    </div>

    <!-- Menu List -->
    <div class="Menus-section" *ngIf="!loading">
      <h2>Customer Menus ({{ customerMenuItems.length }})</h2>

      <div *ngIf="customerMenuItems.length === 0" class="no-menus">
        <p>No Menu yet. Add your first Menu above!</p>
      </div>

      <div class="menu-list" *ngIf="customerMenuItems.length > 0">
        <div class="menu-item">
          <table style="width: 100%">
            <thead>
              <tr>
                <th>Menu Name</th>
                <th class="right-cell">Price</th>
                <th class="right-cell">Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (menu of customerMenuItems; track menu) {
              <tr>
                <td>{{ menu.name }}</td>
                <td class="right-cell">{{ menu.price }}</td>
                <td class="right-cell">{{ menu.quantity }}</td>
                <td class="right-cell">
                  <button (click)="deleteItem(menu.id)" class="btn btn-danger">
                    Delete
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="float-actions">
        <button (click)="closeCustomerMenu()" class="btn btn-secondary">
          Close
        </button>
        <button
          (click)="submitCustomerMenu()"
          class="btn btn-primary"
          [disabled]="customerMenuItems.length === 0"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
